[submodule "apps/console"]
	path = apps/console
	url = git@github.com:kreshnik1/calcom/console.git
	branch = main1
[submodule "apps/api"]
	path = apps/api
	url = git@github.com:kreshnik1/api.git
	branch = main1
[submodule "apps/website"]
	path = apps/website
	url = git@github.com:kreshnik1/website.git
	branch = main1
